gunicorn
absl-py
alembic
astunparse
cachetools
certifi
charset-normalizer
click
cycler
Flask
Flask-Migrate
Flask-SQLAlchemy
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
kiwisolver
libclang
Mako
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
PyJWT
pyparsing
python-dateutil
python-dotenv
requests
requests-oauthlib
rsa
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
typing-extensions
urllib3
waitress
Werkzeug
wrapt
zipp
